/* Author: Zhusee */
/* Website: codepen.io */
/* Link: https://codepen.io/zhusee2/pen/qJuzw?q=microsoft&limit=all&type=type-pens */

@import "compass/css3";

.msft-logo {
  color: #737373;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 600%;
  font-weight: 600;
  text-indent: 1.5em;
  letter-spacing: -0.04em;
  display: inline-block;
  position: relative;
}
.msft-undertext{
  color: #737373;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 300%;
  font-weight: 300;
  text-indent: 1.5em;
  letter-spacing: -0.04em;
  display: inline-block;
  position: relative;
}
.msft-logo::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0.68em;
  margin-top: -0.04em;
  width: 0.08em;
  height: 0.08em;
  box-shadow: 
    -0.315em -0.315em 0 0.25em #EA522B,
    -0.315em 0.315em 0 0.25em #2FA1EF,
    0.315em -0.315em 0 0.25em #83BC00,
    0.315em 0.315em 0 0.25em #FBBC08;
}

