html,body {
	width: 100%;
	height: 100%;
	padding: none;
	margin: 0;
	overflow: hidden;
}
 
.windows {
	height: 95%;
	width: 100%;
}
 
.button-bar {
	height: 5%;
	width: 100%;
}
 
.button {
	color: #444;
	height: 100%;
	width: 100%;
	background: #ececec;
	border: none;
	outline: none;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	box-shadow: 0px 0px 0px 1px #dcdcdc;
}

.button:hover {
	background: #bcbcbc;
}

#save {
	float: left;
	width: 12.5%;
}

#clearIDE{
	float: left;
	width: 12.5%;
}

#run {
	background: #e0efe0;
	float: left;
	width: 50%;
}

#run:hover {
	background: #c3efc3;
}

#dark {
	float: left;
	width: 12.5%;
}

#fontInc {
	float: left;
	width: 6.25%;
}

#fontDec {
	float: left;
	width: 6.25%;
}

iframe {
	position: fixed;
	left: 50%;
	margin-left: -425px;
	top: 50px;
	width: 850px;
	height: 650px;
	z-index: 50;
	outline: none;
	border: none;
}

.remove {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  z-index: 40;
  outline: none;
  border: none;
  background-color: #BA4153;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

.remove:hover {
  cursor: pointer;
  background-color: #E02F4A;
}

.cover {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.4);
}
